html {
  height: auto;
  background-color: #ebebeb;
  color: black;
  text-shadow: 0px 0px 2px black;
  font-size: 3em;
}

html h1 {
  font-size: 1em;
  text-align: center;
}

html h3 {
  margin: 10px;
  text-decoration: underline;
}

html form {
  text-align: center;
  width: 60%;
  margin: 0% auto;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 50px orange;
          box-shadow: 0px 0px 50px orange;
  padding: 15px;
}

html form input[type="radio"],
html form input[type="checkbox"] {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html form label {
  margin-right: 15px;
}

html form section#sides {
  width: 100%;
}

html form section#sides span {
  width: 100%;
}

html form section#sides label[for="side1"] {
  margin-top: -40px;
  margin-bottom: 30px;
}

html form section#sides label[for="side2"] {
  margin-top: 30px;
  margin-bottom: -30px;
}

html form section#sides label {
  width: 100%;
  display: block;
  padding: 0px;
}

html form section#entree {
  width: 100%;
}

html form section#entree label[for="entree1"] {
  margin-top: -45px;
  margin-bottom: 30px;
}

html form section#entree label[for="entree2"] {
  margin-top: 30px;
  margin-bottom: -35px;
}

html form section#entree label {
  width: 100%;
  display: block;
  padding: 0px;
}

html form section#resident label {
  width: 100%;
  padding: 10px 0px;
  display: table;
  clear: both;
  content: "";
}

html form section#resident input[type="text"],
html form section#resident input[type="number"] {
  float: right;
}

html form input[type="checkbox"],
html form input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.514);
  border-radius: 5px;
  border: 2px solid #555;
}

html form input[type="checkbox"]:checked + label,
html form input[type="radio"]:checked + label {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 2px solid blue;
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
  border-radius: 15px;
  padding: 5px;
}

html form input[type="radio"]:checked + label {
  border-color: green;
}

html form input[type="checkbox"]:checked {
  background-color: black;
}

html form input[type="text"],
html form input[type="number"] {
  font-size: 20px;
  height: 50px;
}

html form input[type="radio"] {
  border: 0px;
  width: 25px;
  height: 2em;
}

html form textarea {
  width: 30%;
  font-size: 20px;
}

html button {
  font-size: 45px;
  padding: 5px;
  border-radius: 40px;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1200px) {
  html {
    overflow-x: none;
  }
  html form {
    overflow-x: none;
    width: 100%;
  }
  html form ul {
    padding: 0px;
  }
  html form section {
    padding: 1px;
  }
  html form section#resident label {
    width: 100%;
    display: block;
  }
  html form section#resident input[type="text"],
  html form section#resident input[type="number"] {
    border: 1px solid black;
    padding: 7px;
    position: relative;
    margin: 5px auto;
    right: 5%;
    display: block;
    width: 80%;
  }
  html form section#drinks {
    width: 100%;
  }
  html form section#drinks label {
    width: 100%;
    display: block;
    padding: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */