html {
	// background-image: linear-gradient(to bottom, #001136, #0b8e93);
	height: auto;
	background-color: rgb(235, 235, 235);
	color: black;
	text-shadow: 0px 0px 2px black;
	font-size: 3em;
	h1 {
		font-size: 1em;
		text-align: center;
	}
	h3 {
		margin: 10px;
		text-decoration: underline;
	}
	form {
		input[type="radio"],
		input[type="checkbox"] {
			width: 0px;
			height: 0px;
			padding: 0px;
			margin: 0px;
			border: 0px;
		}
		text-align: center;
		width: 60%;
		margin: 0% auto;
		border: 2px solid white;
		border-radius: 20px;
		box-shadow: 0px 0px 50px orange;
		padding: 15px;
		label {
			margin-right: 15px;
		}
		section#sides {
			width: 100%;
			span {
				width: 100%;
			}
			label[for="side1"] {
				margin-top: -40px;
				margin-bottom: 30px;
			}
			label[for="side2"] {
				margin-top: 30px;
				margin-bottom: -30px;
			}
			label {
				width: 100%;
				display: block;
				padding: 0px;
			}
		}
		section#entree {
			width: 100%;
			label[for="entree1"] {
				margin-top: -45px;
				margin-bottom: 30px;
			}
			label[for="entree2"] {
				margin-top: 30px;
				margin-bottom: -35px;
			}
			label {
				width: 100%;
				display: block;
				padding: 0px;
			}
		}
		section#resident {
			label {
				width: 100%;
				padding: 10px 0px;
				display: table;
				clear: both;
				content: "";
			}
			input[type="text"],
			input[type="number"] {
				float: right;
			}
		}
		input[type="checkbox"],
		input[type="radio"] {
			opacity: 0;
			-webkit-appearance: none;
			width: 30px;
			height: 30px;
			background: rgba(255, 255, 255, 0.514);
			border-radius: 5px;
			border: 2px solid #555;
		}
		input[type="checkbox"]:checked + label,
		input[type="radio"]:checked + label {
			transition: all 0.5s ease-in-out;
			border: 2px solid blue;
			box-shadow: 0px 0px 15px black;
			border-radius: 15px;
			padding: 5px;
			// color: black;
		}
		input[type="radio"]:checked + label {
			border-color: green;
		}
		input[type="checkbox"]:checked {
			background-color: black;
		}
		input[type="text"],
		input[type="number"] {
			font-size: 20px;
			height: 50px;
		}
		input[type="radio"] {
			border: 0px;
			width: 25px;
			height: 2em;
		}
		textarea {
			width: 30%;
			font-size: 20px;
		}
		// Additional Styles
	}
	button {
		font-size: 45px;
		padding: 5px;
		border-radius: 40px;
		background-color: black;
		color: white;
	}
}

@media only screen and (max-width: 1200px) {
	html {
		overflow-x: none;
		form {
			overflow-x: none;
			width: 100%;
			ul {
				padding: 0px;
			}
			section {
				padding: 1px;
			}
			section#resident {
				label {
					width: 100%;
					display: block;
				}
				input[type="text"],
				input[type="number"] {
					border: 1px solid black;
					padding: 7px;
					position: relative;
					margin: 5px auto;
					right: 5%;
					display: block;
					width: 80%;
				}
			}

			section#drinks {
				width: 100%;
				label {
					width: 100%;
					display: block;
					padding: 0px;
				}
			}
		}
	}
}
